# Suppress folders related to R projects
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Suppress Mac-specific folders
.DS_Store

# Suppress Windows-specific folders
.desktop.ini

# Suppress large file folders (temp)


# Suppress Rmd to generate full-workshop html
/workshop/GEDI_workshop_walkthrough.Rmd