# Suppress folders related to R projects
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.Rproj

# Suppress Mac-specific folders
.DS_Store

# Suppress large file folders (temp)


# Suppress Mac-specific folders
/workshop/GEDI_workshop_walkthrough.Rmd